* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 30px auto;
}

.case-h-title {
    font-weight: bold;
    /* font-size: 36px; */
    font-size: 32px;
    color: #1D1D1D;
    margin-bottom: 16px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.rise-case-item:nth-child(3n) {
    margin-right: 0;
}
.rise-case-item {
    width: calc(33.3333% - 14px);
    height: 300px;
    margin-top: 40px;
    margin-right: 20px;
    padding-top: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.rise-case-item:hover .case-cover-mask {
    bottom: 101%;

}

.case-cover-mask {
    width: 100%;
    height: 100%;
    background: rgba(251, 249, 248, 0.96);
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: bottom ease 300ms 100ms;
}

.case-logo {
    width: 300px;
    margin: 35px auto 0;
    display: block;
    filter: grayscale(100%);
    opacity: 0.5;
}

.case-mask-bottom {
    padding: 16px 32px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.case-mask-bottom .name {
    font-weight: bold;
    font-size: 16px;
    color: #1D1D1D;
    letter-spacing: 0;
    line-height: 24px;
}

.case-mask-bottom p {
    font-size: 14px;
    color: #666666;
    letter-spacing: 1px;
    line-height: 21px;
    margin-top: 8px;
    min-height: 42px;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.open-case-modal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.view-case-more  {
    height: 40px;
    background: #fff;
    padding: 8px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-more {
    font-size: 14px;
    color: #1D1D1D;
    letter-spacing: 1.2px;
    line-height: 24px;
    padding-right: 25px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.view-more::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(https://www.ries.com.cn/images/arrow-line-r.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 6px;
    right: 6px;
    transition: right ease .4s;
}

.view-more:hover::after {
    right: 0;
}

.rise-case-item::after {
    content: "";
    display: inline-block;
    width: 0%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background: #EB0000;
    transition: width ease 700ms 300ms;
}

.rise-case-item:hover::after {
    width: 100%;
}